# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
/doc/doxygen/
Makefile
/nbproject/private/
/build/
/test/Makefile.in
/test/loadTest
/test/testScanCache