#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@  --with autotools-dev --parallel

override_dh_auto_install:
	dh_auto_install --destdir=debian/skyldav
	find debian/skyldav -name '*.la' -delete
	find debian/skyldav -name '*.so' -delete

override_dh_strip:
	dh_strip --dbg-package=skyldav-dbg
